doctype html
html
  head
    title YelpCamp
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/landing.css')
  body
    #landing-header
      h1 Welcome to YelpCamp!
      a.btn.btn-lg.btn-success(href='/campgrounds') View All Campgrounds
    .testdiv
    ul.slideshow
      li
      li
      li
      li
      li