extends layout
block main
    .container
        .row.col-lg-6.col-lg-offset-3
            form( action='/campgrounds/'+ campground._id + '/comments', method="POST" )
                .form-group.text-center
                    h1 Add a new comment
                .form-group    
                    textarea.form-control(name='text' placeholder='text')
                button.btn.btn-block.btn-primary(type="submit") Send comment